<!DOCTYPE html>
<html lang='en'>

<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>SchApp - All In One App</title>
	<meta name="description"
		content="A safe and secure testing platform built with the characteristics and demands of the modern day Educator and students in mind without sacrificing the integrity of the exam or ease of use.">

	<link rel='stylesheet' href='/static/jaiye/css/style.css' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

	<!-- Hero(extended) navbar -->

	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">

				<nav class="navbar__menu">
					<ul>
						<li><a href="#login">Login</a></li>
						<li><a href="#social">Social</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 448 512">
							<path fill="currentColor"
								d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
								class=""></path>
						</svg></a>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Hero unit -->

	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<!-- <div class="row "> -->
				<div class="hero__content ">
					<div class="hero__content__inner hero_flex" id='navConverter'>

						<div class="col-lg-4">
							<img src="/static/jaiye/images/anim-QA1.svg" style="width: 180vw;">

						</div>

						<div class="col-lg-8">
							<h1 class="hero__title">Intuitive Testing Platform </h1>
							<p class="hero__text">A safe and secure testing platform built with the characteristics and
								demands of the modern day Educator and students in mind without scarificing the
								integrity of the exam or ease of use. </p>
							<!-- <a id="signUpATag" href="#signUp" class="btn btn__primary">Sign up</a> -->
						</div>



						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512"
				style="enable-background:new 0 0 512 512;" xml:space="preserve">
				<path
					d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z" />
			</svg>
		</span>
	</div> -->


	<!-- Expanded sections -->
	<div class="expanded landing__section" id="login">
		<h1 class="expanded_title" style=text-align:center;>Login</h1>
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="/static/jaiye/images/login-svgrepo-com.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Taking An Exam?</h2></br>
					<p class="expanded__text">Login below to take a text, check your scores, etc...</p><br>

					<form action = "/login/"  method="post" role="form">

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username" name="username" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password" required>
						</div>
						<div class="hidden">
							<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
						</div>

						<button type="submit" class="btn btn__primary">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="expanded landing__section" id="social">
		<h1 class="expanded_title" style=text-align:center;>We're Social</h1>
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="/static/jaiye/images/social-network-social-media-svgrepo-com.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<!-- <h2 class="expanded__title"></h2> -->
					<div class="expanded__text" align="center">
						<a target="_blank" href="https://www.twitter.com/">
							<h2><i class="fa fa-1x fa-twitter"></i>&nbsp; SchApp</h2>
						</a>
						<a target="_blank" href="https://www.instagram.com/">
							<h2><i class="fa fa-1x fa-instagram"></i>&nbsp;schApp</h2>
						</a>
						<a target="_blank" href="https://www.facebook.com/schapp8">
							<h2><i class="fa fa-1x fa-facebook"></i>&nbsp;schApp8</h2>
						</a>
						<a target="_blank" href="https://www.snapchat.com/">
							<h2><i class="fa fa-1x fa-snapchat"></i>&nbsp; SchApp</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="expanded landing__section" id="contact">
		<h1 class="expanded_title" style=text-align:center;>Get in Touch</h1>
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="/static/jaiye/images/undraw_contact_us_15o2.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<div class="expanded__text">
						<a target="_blank" href="https://www.facebook.com/">
							<h3><i class="fa fa-1x fa-arrows-alt"></i>&nbsp; 14, Arogundade street, Lagos, Nigeria.</h3>
						</a>
						<a target="_blank" href="https://www.facebook.com/">
							<h3><i class="fa fa-1x fa-envelope"></i>&nbsp; info.tech@schapp.com</h3>
						</a>
						<a target="_blank" href="https://www.facebook.com/">
							<h3><i class="fa fa-1x fa-phone"></i>&nbsp; +2348012345678</h3>
						</a>
					</div>

					<form>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter your name" name="name" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Enter email" name="email" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter your phone number" name="phone"
								required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter message" name="message" required>
						</div>

						<button type="submit" class="btn btn__primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="expanded landing__section" id="apps">
		<h1 class="expanded_title" style=text-align:center;>Other Apps</h1>
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="/static/jaiye/images/undraw_wallet_aym5.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Other apps here</h2>
					<!-- <p class="expanded__text">You can make unlimited requests for artisans without charge; pay only
						for
						the services rendered. There are no hidden charges on Mokola. Refer a friend to us and we'll
						even cover the costs of your next request. For artisans, we'll charge a small commission for
						each successful gig after your first month on Mokola.</p> -->
				</div>
			</div>
		</div>
	</div>



	<!--- Copyright -->
	<footer class="page-footer">
		<div class="footer-copyright">&#169 2020 <a href="https://gboyega.netlify.app/" target="blank">ADYSYS TECHNOLOGIES @2014-2020</a>. All
			Rights
			Reserved</div>
		<!-- <div class="wrapper">
			<a target="_blank" href="https://www.twitter.com/MokolaApp"><i class="fa fa-1x fa-twitter"></i></a>
			<a target="_blank" href="https://instagram.com/MokolaApp"><i class="fa fa-1x fa-instagram"></i></a>
		</div> -->
	</footer>

	<script src='/static/jaiye/js/app.min.js'></script>
	    
</body>

</html>